---
- hosts: all
  become: yes
  tasks:
    - name: Actualizar índice de paquetes
      apt:
        update_cache: yes

    - name: Instalar cowsay
      apt:
        name: cowsay
        state: present

    - name: Instalar nginx
      apt:
        name: nginx
        state: present

    - name: Copiar página web personalizada
      copy:
        src: files/index.html
        dest: /var/www/html/index.html
        owner: www-data
        group: www-data
        mode: '0644'
